/*
 * Copyright (C) 2022 PL Germany GmbH, Lars Görner <lars.goerner@plasticlogic.com>
 */
 
/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctl/am33xx.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	// Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
	fragment@0 {
		target-path="/";
		__overlay__ {
			chosen {
				overlays {
					PL-SPI0-UC8156-SEGMCTL-00A0 = __TIMESTAMP__;
				};
			};
		};
	};
	
	// Free pins used by the driver from the pinmux helpers
	fragment@1 {
		target = <&ocp>;
		__overlay__ {
			P9_17_pinmux { status = "disabled"; }; /* P9_17: spi0_cs0 */
			P9_18_pinmux { status = "disabled"; }; /* P9_18: spi0_d1 */
			P9_21_pinmux { status = "disabled"; }; /* P9_21: spi0_d0 */
			P9_22_pinmux { status = "disabled"; }; /* P9_22: spi0_sclk */
			P8_7_pinmux  { status = "disabled"; }; /* P8_7 : uc8156_rst_n */
			P8_8_pinmux  { status = "disabled"; }; /* P8_8 : uc8156_busy_n */
		};
	};
	
	fragment@2 {
		target = <&am33xx_pinmux>;
		__overlay__ {
			spi0_uc8156_pins: pinmux_spi0_uc8156_pins {
				AM33XX_PADCONF(AM335X_PIN_SPI0_CS0, PIN_INPUT, MUX_MODE0) /* P9_17 spi0_cs0 */
				AM33XX_PADCONF(AM335X_PIN_SPI0_D1, PIN_INPUT, MUX_MODE0) /* P9_18 spi0_d1 */
				AM33XX_PADCONF(AM335X_PIN_SPI0_D0, PIN_INPUT, MUX_MODE0) /* P9_21 spi0_d0 */
				AM33XX_PADCONF(AM335X_PIN_SPI0_SCLK, PIN_INPUT, MUX_MODE0) /* P9_22 spi0_sclk */
			};
			
			bb_uc8156_pins: pinmux_bb_uc8156_pins {
				AM33XX_PADCONF(AM335X_PIN_GPMC_ADVN_ALE, PIN_OUTPUT_PULLUP, MUX_MODE7) /* P8_7 : uc8156_rst_n */
				AM33XX_PADCONF(AM335X_PIN_GPMC_OEN_REN, PIN_INPUT_PULLUP, MUX_MODE7) /* P8_8 : uc8156_busy_n */
			};
		};
	};
	
	fragment@3 {
		target = <&spi0>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&spi0_uc8156_pins>;
			
			uc8156_segmctl@0 {
				compatible = "ultrachip,uc8156";
				
				pinctrl-names = "default";
				pinctrl-0 = <&bb_uc8156_pins>;
				
				reg = <0>; /* CS0 */
				spi-max-frequency = <6000000>;
				
				rst_n-gpios = <&gpio2 2 GPIO_ACTIVE_LOW>;
				busy_n-gpios = <&gpio2 3 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};
